ESBackupPath      = "C:\ProgramData\Schneider Electric EcoStruxure\Building Operation 2.0\Enterprise Server\db_backup\" 
BackupFolder      = "D:\ebobackup\db_backup\"
ArchiveFolder     = "D:\ebobackup\archives\" 
Archive           = True
ArchiveCount      = 2
ArchiveName       = "my_site_backups"
ArchiveISOWeek    = True
ArchiveAddYear    = False
ArchiveAddMonth   = False
Ftp               = False
FtpUri            = ""
FtpUser           = ""
FtpPass           = ""
#FtpWeekday       = ""
	                # Sunday
	                # Monday
	                # Tuesday
	                # Wednesday
	                # Thursday
	                # Friday
	                # Saturday